<mat-toolbar color="primary">CRUD</mat-toolbar>
<h1 class="title">Your list:</h1>

<mat-card class="list-card">

  <button mat-fab color="primary" style="float: right"></button> 
    <mat-icon (click)="post(itemInput.value)">add</mat-icon>
  </button>

  <mat-form-field style="width: 100%;">
    <mat-label>item name</mat-label>
    <input #itemInput matInput placeholder="Type here name of your item..."/>
  </mat-form-field>

  <mat-list>
    <mat-list-item class="list-item" *ngFor="let item of items$ | async">
      <span >{{item.name}}</span>
      
      <span style="position: absolute; right: 0">
        <button mat-icon-button>
          <mat-icon (click)="update(item._id, itemInput.value)" color="primary">
            edit
          </mat-icon>
        </button>
        
        <button mat-icon-button>
          <mat-icon (click)="delete(item._id)" color="warn">
            delete
          </mat-icon>
        </button>

      </span>
    </mat-list-item>
  </mat-list>
</mat-card>